.tableTitle
  width: 100%
  height: 35px
  margin-bottom: 5px
  h1
    float: left
  button
    float: right

.actionbutton
  display: flex
  justify-content: space-evenly

.delectModal
  span
    color: red
    font-size: 18px

.ant-upload-text
  color: #FFFFFF
  font-size: 35px

.masterImg
  img
    width: 60px
    height: 60px