.bodyDiv1
    height: calc(100vh)
    background: #F8F8F8

.loginDiv
    font-family: Source Han Sans CN
    border-radius: 25px
    background-color: #FFFFFF
    width: 70%
    min-height: 80%
    display: flex
    flex-wrap: wrap
    justify-content: center


.routerLink
    display: flex
    align-items: center
    color: #0033FF
    margin: 15px
    font-size: 18px
    width: 100px


.routerLink img
    margin-right: 5px

.loginFromDiv
    //padding-top: 20px
    display: flex
    align-items: center

.loginTitle1
    font-size: 28px
    color: #333333
    font-weight: bold
    margin: 0

.loginTitle2
    font-size: 18px
    color: #333333
    margin: 0

.loginInfoDiv
    width: 90%


.loginInfo
    margin-top: 15px
    p
        line-height: 2.5


.userLoginInput
    background: none
    outline: none
    border: none
    box-shadow: none
    border-bottom: solid 1px #EEEEEE
    border-radius: 0

//.phoneCodeDiv
//    margin-top: 14px

.loginTypeOrUpdatePassword
    color: #0033FF
    display: flex
    justify-content: space-between
    width: 100%
    :hover
        cursor: pointer

.loginInfoButton
    width: 100%
    margin-top: 15px
    background: none
    outline: none
    border: solid 1px #0033FF
    border-radius: 0
    color: #0033FF
    font-family: Source Han Sans CN
    font-size: 18px
    transition: all .6s ease 0s

.buttonDiv :hover
        background: #0033FF
        color: #FFFFFF

.codeInput
    width: 60%
    float: left

.getCodeButton
    font-family: Source Han Sans CN
    width: 40%
    float: right
    background: #0033FF
    color: #FFFFFF
    border-radius: 0

.radioDiv
    height: 40px
    display: flex
    align-items: center
    border-bottom: solid 1px #EEEEEE

