
.ordersBodyDiv
  font-family: Source Han Sans CN
  width: 80%
  .span1
    font-size: 18px
    color: #999999
    line-height: 2
    .orders_info
      color: #0033FF

.order_box
  display: flex
  justify-content: space-around
  align-items: center
  flex-wrap: wrap

.card
  width: 270px
  height: 380px
  margin: 15px 0
  padding: 8px
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  text-align: center
  line-height: 2

.span2
  font-size: 18px
  color: #FF3636
  font-weight: bold

.span3
  color: #0033FF
  font-size: 16px

.span4
  color: #999999
  font-size: 16px

.buttonModal
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-wrap: wrap





